## 1

In [1]:
def findCommonElements(arr1, arr2, arr3):
    ptr1 = ptr2 = ptr3 = 0
    result = []

    while ptr1 < len(arr1) and ptr2 < len(arr2) and ptr3 < len(arr3):
        if arr1[ptr1] == arr2[ptr2] == arr3[ptr3]:
            result.append(arr1[ptr1])
            ptr1 += 1
            ptr2 += 1
            ptr3 += 1
        elif arr1[ptr1] <= arr2[ptr2] and arr1[ptr1] <= arr3[ptr3]:
            ptr1 += 1
        elif arr2[ptr2] <= arr1[ptr1] and arr2[ptr2] <= arr3[ptr3]:
            ptr2 += 1
        else:
            ptr3 += 1

    return result

In [6]:
arr1 = [1, 2, 3, 4, 5]
arr2 = [1, 2, 5, 7, 9]
arr3 = [1, 3, 4, 5, 8]

common_elements = findCommonElements(arr1, arr2, arr3)
print(common_elements)

[1, 5]

## 2

In [3]:
def findDistinctIntegers(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)

    distinct_nums1 = list(set1 - set2)
    distinct_nums2 = list(set2 - set1)

    return [distinct_nums1, distinct_nums2]

In [5]:
nums1 = [1, 2, 3]
nums2 = [2, 4, 6]

answer = findDistinctIntegers(nums1, nums2)
print(answer)

[[1, 3], [4, 6]]

## 3

In [7]:
def transposeMatrix(matrix):
    rows = len(matrix)
    cols = len(matrix[0])

    result = [[0] * rows for _ in range(cols)]

    for i in range(rows):
        for j in range(cols):
            result[j][i] = matrix[i][j]

    return result

In [8]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

transposed_matrix = transposeMatrix(matrix)
print(transposed_matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## 4

In [9]:
def arrayPairSum(nums):
    nums.sort()
    max_sum = 0

    for i in range(0, len(nums), 2):
        max_sum += nums[i]

    return max_sum

In [10]:
nums = [1, 4, 3, 2]

maximized_sum = arrayPairSum(nums)
print(maximized_sum)

4

# 5

In [11]:
def arrangeCoins(n):
    k = 0

    while (k * (k + 1)) // 2 <= n:
        k += 1

    return k - 1

In [12]:
n = 5

complete_rows = arrangeCoins(n)
print(complete_rows)

2

## 6

In [13]:
def sortedSquares(nums):
    result = []

    for num in nums:
        result.append(num ** 2)

    result.sort()

    return result

In [14]:
nums = [-4, -1, 0, 3, 10]

squared_nums = sortedSquares(nums)
print(squared_nums)

[0, 1, 9, 16, 100]

## 7

In [16]:
def maxCount(m: int, n: int, ops: list[list[int]]) -> int:
    min_row = float('inf')
    min_col = float('inf')

    for op in ops:
        min_row = min(min_row, op[0])
        min_col = min(min_col, op[1])

    return min_row * min_col

In [17]:
m = 3
n = 3
ops = [[2, 2], [3, 3]]

max_integers = maxCount(m, n, ops)
print(max_integers)

4

# 8

In [18]:
def reorganize_array(nums, n):
    result = []
    for i in range(n):
        result.append(nums[i])
        result.append(nums[i + n])
    return result

In [19]:
nums = [2, 5, 1, 3, 4, 7]
n = 3
reorganized_nums = reorganize_array(nums, n)
print(reorganized_nums)

[2, 3, 5, 4, 1, 7]